body{
    background-color: black;
}
.contenido{
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
#excusas{
    text-align: center;
}
#botonEx {
    background-color: rgb(207, 207, 207);
    margin-left: 40%;
    border-radius: 5px;
    cursor:pointer
}
#botonEx:hover {
    background-color: gray;
}
#botonEx:active{
    background-color: rgb(73, 73, 73);
}
